<div class="flex flex-col items-center">
    <h2 class="mb-4 text-xl font-bold">Sélectionnez une date de départ</h2>
    <div class="flex flex-col space-y-2">
        <label class="form-control pl-2">
            <div class="label">
                <span class="label-text text-sm font-medium">
                    Date de départ
                </span>
            </div>
            <input
                type="date"
                class="input input-bordered"
                [formControl]="endDayControl"
                [min]="minDate | date: 'yyyy-MM-dd'"
            />
            @if (getErrorMessage()) {
                <div class="label">
                    <span class="label-text-alt text-error">
                        {{ getErrorMessage() }}
                    </span>
                </div>
            }
        </label>
        <reservation-hours-list
            [arrivalTimes]="arrivalTimes$ | async"
            [hourControl]="endDayTimeControl"
        ></reservation-hours-list>
    </div>
    @if (endDayError || endDayTimeError) {
    <small class="text-error my-2">{{ endDayError ? endDayError : endDayTimeError }}</small>
    }
</div>
